# Virtual Environment
.venv/

# Python Compiled Files
__pycache__/
*.pyc

# Logs
logs/

# Compiled Executables
# dist/ - 暂时取消注释以同步dist目录到仓库

# PyInstaller Build Files
build/
*.spec

# Temporary Files
*.tmp
*.temp
